.boardConversation{
    background-color: #F1F2F2;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.boardConversation .commentPortrait{
    float: left;
    display: inline-block;
    margin-right: 10px
}


.boardConversation .commentPortrait .portraitPhoto {
    width: 100%;
    height: 100%;
}

.boardConversation .boardCommentDetails{
    background-color: transparent;
    border:none;
}

.boardConversation .cop_Comment{
    background-color: #fff;
    display: block;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 3px;
    margin-left: 60px
}

.boardConversation .boardComment{
    border: none;
}

.boardConversation .boardCommentActions input[type="submit"], .boardConversation .boardCommentReplyActions input[type="submit"]{
    border-radius: 4px;
    background-color: #FFF;
    padding: 4px;
    color: #333;
    border: 1px solid #CCC;
    font-size: 12px;
}

.boardConversation .boardCommentActions input[type="submit"]:hover{
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

.boardConversation .boardCommentReplyActions input[type="submit"]:hover{
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

.boardConversation .cop_actions_comment{
    margin-top: 10px;
}

.boardConversation .cop_actions_comment .boardCommentActions{
    padding: 0px;
}

.boardConversation .cop_actions_comment .boardCommentReplyActions{
    padding: 0px;
}

.boardConversation .boardCommentContent blockquote{
    background-color: #f1f2f3;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
}

.boardConversation .boardCommentContent blockquote p{
    margin: 0px;
}

.boardConversation .boardCommentDetails {
    display: block;
    position: relative;
    padding: 0px;
}
.boardConversation .boardCommentDetails p{
    margin: 0px;
}

.boardConversation .boardCommentBody{
    padding: 0px;
}

.boardConversation .boardCommentHeaderTitleBlock .cop_author_forum{
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
}
.boardConversation .boardCommentHeaderTitleBlock .cop_date_forum{
    display: inline-block;
    float: right;
    color:#434648;
}
